.container{
    text-align: left;    
    position: absolute;    
    overflow: hidden;
    box-sizing: border-box;    
}

.container p{
    white-space: pre-line;
    font-size: 20px;
}

.container img{
    position: fixed;
    padding-left: 20rem;
}

nav{
    background: linear-gradient( to right, rgb(54, 54, 54), rgb(85, 81, 81));
    color: rgb(228, 209, 5);
}